<h2><%= @director.name%></h2>

<p>Nationality: <%=@director.nationality%></p>
<p>Date of Birth: <%=@director.dob%></p>
<p>Favourite Genre: <%=@director.genre_id%></p>

<%=link_to "Edit this director", edit_director_path %>

<a href="/">Back Home</a>