<h2><%= @film.title%></h2>

<p>Year: <%=@film.year%></p>
<p>Synopsis: <%=@film.synopsis%></p>
<p>Country: <%=@film.country%></p>
<p>Duration: <%=@film.duration%></p>
<p>Director: <%=@film.director.name%></p>
<p>Film Genre: <%=@film.genre.name%></p>
<p>Status: <%=@film.status%></p>
<div>
<%=link_to "Edit this film", edit_film_path %>
</div>


<a href="/">Back Home</a>