<h2><%= @film.title%></h2>

<p>Year: <%=@film.year%></p>
<p>Synopsis: <%=@film.synopsis%></p>
<p>Country: <%=@film.country%></p>
<p>Duration: <%=@film.duration%></p>

<%=link_to "Edit this film", edit_film_path %>


<a href="/">Back Home</a>